.roundsCard {
  border: 1px solid #ccc;
  position: relative; /* this line is important */
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 0.5em;
  padding: 1em;
  width: 40%;
  display: flex;
  /* width: 100%; */
}

/* Style for the event title */
.title {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  margin-bottom: 2em;
}

/* Generic text style */
.text {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
  text-overflow: hidden;
}

/* Style for event description with ellipsis for overflow */
.roundDescription {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Base button style */
.button {
  background-color: #fff;
  color: #607d8b;
  text-decoration: none;
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding: 10px 16px;
  border: 0px solid #607d8b;
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  height: 42px;
}

/* Button hover effect */
.button:hover {
  background-color: #ffc107;
  color: #607d8b;
}

/* Container for the action links/buttons */
.links {
  position: absolute;
  padding-top: 1em;
  bottom: 2em;
  left: 0;
  right: 0;
  text-align: center;
}

/* Style for the delete button on hover */
.delete:hover {
  background-color: #f44336;
}

/* Style for the edit button on hover */
.edit:hover {
  background-color: #8bc34a;
}

.time {
  display: flex;
  justify-content: space-around;
}

.contentElement{
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
  text-overflow: hidden;
  margin: 0.25em 0em;
}