.menu {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.menu_unorderd_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #607d8b;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.menu_list_element > a, .menu_list_element > button {
  float: left;
}

.menu_list_element > a {
  display: block;
  text-align: center;
  padding: 1.5em 1.5em;
  text-decoration: none;
  color: #ffc107;
}

.menu_list_element > a:hover {
  background-color: #ffc107;
  color: #607d8b;
}

.log_in {
  float: right;
}

.button {
  display: block;
  color: #ffc107;
  text-align: center;
  padding: 1.5em 1.5em;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  background: none; /* Ensuring the button has no default background */
  border: none; /* Removing the default button border */
}

.button:hover {
  background-color: #ffc107;
  color: #607d8b;
}

.user_name {
  float: right;
  padding: 1.5em 1.5em;
  color: #fff;
  margin: 0;
}

.user_name > p {
  margin: 0;
}