.title {
  font-size: 2em;
  color: rgba(0, 0, 0, 0.87);
  text-align: center; /* center the title */
  margin-bottom: 1em;
}

.text {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
  text-overflow: hidden;
  white-space: pre-line;
}

.content {
  display: grid;
  grid-template-columns: 30% auto;
  gap: 1em 1em;
}

.informations {
  grid-column: 1;
}

.description {
  grid-column: 2;
}

.roundsTitle {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.87);
  text-align: center; /* center the title */
  margin-bottom: 1em;
}

.roundsContaioner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.button {
  background-color: #fff;
  color: #607d8b;
  text-decoration: none;
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding: 10px 16px;
  border: 0px solid #607d8b;
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  height: 42px;
}

.button:hover {
  background-color: #ffc107;
  color: #607d8b;
}

/* Container for holding multiple event cards */
.gameRoundsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style for the event title */
.title {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  margin-bottom: 2em;
}

.roundAddContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gameMaster {
  text-align: left;
}

.disabled {
  /* Your desired styles for the disabled state, for example: */
  background-color: #ccc;
  cursor: not-allowed;
}

.disabled:hover {
  background-color: #ccc;
  color: #607d8b;
}

.genresContainer {
  display: flex;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
}

.genreContainer {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}

/* create a section for mobile view */
@media only screen and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: 30% auto;
    gap: 1em 1em;
  }
}

.badge {
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 0.5rem;
}

.badgeFew {
  background-color: #ffc107; /* Gelb */
  color: #fff;
}

.badgeFull {
  background-color: #f44336; /* Rot */
  color: #fff;
}

/* Neue Klasse für On-Site-Anmeldung */
.badgeOnSite {
  background-color: #2196f3; /* Blau */
  color: #fff;
}
