.card {
  border: 1px solid #ccc;
  position: relative; /* this line is important */
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 1em;
  padding: 1em;
  width: 300px;
  height: 400px;
}

.title {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.87);
  text-align: center; /* center the title */
  margin-bottom: 2em;
}

.text {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
  text-overflow: hidden;
}

.description {
  margin-bottom: 2em;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* limit to 3 lines of text */
  -webkit-box-orient: vertical;
}

.button {
  color: #607d8b;
  text-decoration: none;
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding: 10px 16px;
  border: 2px solid #607d8b;
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #ffc107;
  color: #607d8b;
}

.links {
  position: absolute; /* positioning links */
  bottom: 2em; /* positioning links */
  left: 0; /* positioning links */
  right: 0; /* positioning links */
  text-align: center; /* centering links */
}

.delete {
  height: 43px;
  width: 52px;
}

.delete:hover {
  background-color: #f44336;
}

.edit:hover {
  background-color: #8BC34A;
}